@page
@model TecualaBaby.Pages.Competencia.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>competencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.competencia.IdTipoCompetencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.competencia.IdTipoCompetencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.competencia.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.competencia.Nombre)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="competencia.IdCompetencia" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
