@page
@model TecualaBaby.Pages.ControlCompetenciasActividades.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Crear Control Competencias Actividades</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="eva_control_competencias_actividades.Tema" class="control-label"></label>
                <input asp-for="eva_control_competencias_actividades.Tema" data-val-required="Ingrese el tema" class="form-control" />
                <span asp-validation-for="eva_control_competencias_actividades.Tema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_control_competencias_actividades.DesActividad" class="control-label"></label>
                <textarea rows="8" asp-for="eva_control_competencias_actividades.DesActividad" data-val-required="Ingrese la descripcion"  class="form-control" ></textarea>
                <span asp-validation-for="eva_control_competencias_actividades.DesActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="eva_control_competencias_actividades.SugeridaPor" /> @Html.DisplayNameFor(model => model.eva_control_competencias_actividades.SugeridaPor)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="eva_control_competencias_actividades.EligioAlumno" /> @Html.DisplayNameFor(model => model.eva_control_competencias_actividades.EligioAlumno)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="eva_control_competencias_actividades.IdActividadSugerida" class="control-label"></label>
                <input asp-for="eva_control_competencias_actividades.IdActividadSugerida" class="form-control" />
                <span asp-validation-for="eva_control_competencias_actividades.IdActividadSugerida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_control_competencias_actividades.IdTipoActividadSug" class="control-label"></label>
                <select asp-for="eva_control_competencias_actividades.IdTipoActividadSug" class ="form-control" asp-items="ViewBag.IdTipoActividadSug"></select>
            </div>
            <div class="form-group">
                <label asp-for="eva_control_competencias_actividades.IdPersona" class="control-label"></label>
                <select asp-for="eva_control_competencias_actividades.IdPersona" class ="form-control" asp-items="ViewBag.IdPersona"></select>
            </div>
            <div class="form-group">
                <label asp-for="eva_control_competencias_actividades.IdCompetencia" class="control-label"></label>
                <select asp-for="eva_control_competencias_actividades.IdCompetencia" class ="form-control" asp-items="ViewBag.IdCompetencia"></select>
            </div>
            <div class="form-group">
                <label asp-for="eva_control_competencias_actividades.IdOportunidad" class="control-label"></label>
                <select asp-for="eva_control_competencias_actividades.IdOportunidad" class ="form-control" asp-items="ViewBag.IdOportunidad"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
