@page
@model TecualaBaby.Pages.EvaluaCompetenciasResponsables.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar Competencias Responsables</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="eva_evalua_competencias_responsables.IdResponsable" />
            <div class="form-group">
                <label asp-for="eva_evalua_competencias_responsables.IdGenResponsable" class="control-label"></label>
                <select asp-for="eva_evalua_competencias_responsables.IdGenResponsable" class="form-control" asp-items="ViewBag.IdGenResponsable"></select>
                <span asp-validation-for="eva_evalua_competencias_responsables.IdGenResponsable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_evalua_competencias_responsables.IdPersona" class="control-label"></label>
                <select asp-for="eva_evalua_competencias_responsables.IdPersona" class="form-control" asp-items="ViewBag.IdPersona"></select>
            </div>
            <div class="form-group">
                <label asp-for="eva_evalua_competencias_responsables.IdCompetencia" class="control-label"></label>
                <select asp-for="eva_evalua_competencias_responsables.IdCompetencia" class="form-control" asp-items="ViewBag.IdCompetencia"></select>
            </div>
            <div class="form-group">
                <label asp-for="eva_evalua_competencias_responsables.IdOportunidad" class="control-label"></label>
                <select asp-for="eva_evalua_competencias_responsables.IdOportunidad" class="form-control" asp-items="ViewBag.IdOportunidad"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
