@page
@model TecualaBaby.Pages.CompetenciaPotencias.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CompetenciaPotencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompetenciaPotencia.persona" />
            <div class="form-group">
                <label asp-for="CompetenciaPotencia.competencia" class="control-label"></label>
                <input asp-for="CompetenciaPotencia.competencia" class="form-control" />
                <span asp-validation-for="CompetenciaPotencia.competencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenciaPotencia.idEstatus" class="control-label"></label>
                <input asp-for="CompetenciaPotencia.idEstatus" class="form-control" />
                <span asp-validation-for="CompetenciaPotencia.idEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenciaPotencia.idTipoEstatus" class="control-label"></label>
                <input asp-for="CompetenciaPotencia.idTipoEstatus" class="form-control" />
                <span asp-validation-for="CompetenciaPotencia.idTipoEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenciaPotencia.fechaEstatus" class="control-label"></label>
                <input asp-for="CompetenciaPotencia.fechaEstatus" class="form-control" />
                <span asp-validation-for="CompetenciaPotencia.fechaEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenciaPotencia.actual" class="control-label"></label>
                <input asp-for="CompetenciaPotencia.actual" class="form-control" />
                <span asp-validation-for="CompetenciaPotencia.actual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenciaPotencia.observacion" class="control-label"></label>
                <input asp-for="CompetenciaPotencia.observacion" class="form-control" />
                <span asp-validation-for="CompetenciaPotencia.observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenciaPotencia.idUsuarioReg" class="control-label"></label>
                <input asp-for="CompetenciaPotencia.idUsuarioReg" class="form-control" />
                <span asp-validation-for="CompetenciaPotencia.idUsuarioReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
