@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class=" ">
    <div class="hovereffect" id="content">
        <p v-text="imageLink"></p>
        <img class="img-responsive" src="~/images/banner1.svg"  height="1000" >
        <div class="overlay">
            <h2>Hover effect 1</h2>
            <a class="info" href="#">link here</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

