@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class=" ">
    <div class="hovereffect" id="content">
        <img class="img-responsive" src="~/images/banner1.svg" height="1000">
        <div class="overlay">
            <h2>Hover effect 1</h2>
            <a class="info" href="#">link here</a>
        </div>
    </div>
</div>

<!--
<div>
    <img src="~/images/orgullosa.jpg" class="img-responsive center-block" width="435" height="350"/>
</div>-->
