@page
@model TecualaBaby.Pages.PlantillaMetodologia.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>PlantillaMetodologia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlantillaMetodologia.Descripcion" class="control-label"></label>
                <input asp-for="PlantillaMetodologia.Descripcion" class="form-control" />
                <span asp-validation-for="PlantillaMetodologia.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantillaMetodologia.FechaRegistro" class="control-label"></label>
                <input asp-for="PlantillaMetodologia.FechaRegistro" class="form-control" />
                <span asp-validation-for="PlantillaMetodologia.FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PlantillaMetodologia.VersionActual" /> @Html.DisplayNameFor(model => model.PlantillaMetodologia.VersionActual))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PlantillaMetodologia.MetodologiaId" class="control-label"></label>
                <select asp-for="PlantillaMetodologia.MetodologiaId" class ="form-control" asp-items="ViewBag.MetodologiaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
