@page
@model TecualaBaby.Pages.PlantillaMetodologia.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>Plantilla Metodologia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlantillaMetodologia.Id" />
            <div class="form-group">
                <label asp-for="PlantillaMetodologia.Descripcion" class="control-label"></label>
                <input asp-for="PlantillaMetodologia.Descripcion" class="form-control" data-val-required="Ingrese la Descripcion"/>
                <span asp-validation-for="PlantillaMetodologia.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantillaMetodologia.FechaRegistro" class="control-label"></label>
                <input asp-for="PlantillaMetodologia.FechaRegistro" class="form-control" data-val-required="Ingrese la Fecha"/>
                <span asp-validation-for="PlantillaMetodologia.FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PlantillaMetodologia.VersionActual" /> @Html.DisplayNameFor(model => model.PlantillaMetodologia.VersionActual)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PlantillaMetodologia.MetodologiaId" class="control-label"></label>
                <select asp-for="PlantillaMetodologia.MetodologiaId" class="form-control" asp-items="ViewBag.MetodologiaId"></select>
                <span asp-validation-for="PlantillaMetodologia.MetodologiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
