@page
@model TecualaBaby.Pages.MomentoMetodologia.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MomentosMetodologia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MomentosMetodologia.Descripcion" class="control-label"></label>
                <input asp-for="MomentosMetodologia.Descripcion" class="form-control" />
                <span asp-validation-for="MomentosMetodologia.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MomentosMetodologia.Objetivo" class="control-label"></label>
                <input asp-for="MomentosMetodologia.Objetivo" class="form-control" />
                <span asp-validation-for="MomentosMetodologia.Objetivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MomentosMetodologia.Secuencia" class="control-label"></label>
                <input asp-for="MomentosMetodologia.Secuencia" class="form-control" />
                <span asp-validation-for="MomentosMetodologia.Secuencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MomentosMetodologia.MetodologiaId" class="control-label"></label>
                <select asp-for="MomentosMetodologia.MetodologiaId" class ="form-control" asp-items="ViewBag.MetodologiaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MomentosMetodologia.PlantillaMetodologiaId" class="control-label"></label>
                <select asp-for="MomentosMetodologia.PlantillaMetodologiaId" class ="form-control" asp-items="ViewBag.PlantillaMetodologiaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
