@page
@model TecualaBaby.Pages.MomentoMetodologia.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar Plantilla Momento Metodologia</h2>
<h2>Plantilla: @Model.idplantilla </h2>
<h2>Metodologia: @Model.idmetodologia</h2>
<h2>@Model.idm @Model.idp</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="eva_plantilla_momentos_metodologia.IdMomento" />
            <div class="form-group">
                <label asp-for="eva_plantilla_momentos_metodologia.DesMomento" class="control-label"></label>
                <input asp-for="eva_plantilla_momentos_metodologia.DesMomento" data-val-required="Ingrese la Descripcion" class="form-control" />
                <span asp-validation-for="eva_plantilla_momentos_metodologia.DesMomento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_plantilla_momentos_metodologia.Objetivo" class="control-label"></label>
                <textarea rows="8" asp-for="eva_plantilla_momentos_metodologia.Objetivo" data-val-required="Ingrese el Objetivo" class="form-control"></textarea>
                <span asp-validation-for="eva_plantilla_momentos_metodologia.Objetivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eva_plantilla_momentos_metodologia.Secuencia" class="control-label"></label>
                <input type="number" step="1" asp-for="eva_plantilla_momentos_metodologia.Secuencia" data-val-required="Ingrese la Secuencia" class="form-control" />
                <span asp-validation-for="eva_plantilla_momentos_metodologia.Secuencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
